/* Estilos para captura de datos */

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
  }
  
  th {
    background-color: #146C94;
    color: white;
    font-weight: bold;
    padding: 5px;
    font-size: 16px;
  }
  
  td {
    text-align: center;
    font-size: 14px;
    padding: 5px;
  }
  
  .color1 {
    background-color: #03C988;
  }
  
  .color2 {
    background-color: #97DEFF;
  }
  
  /* Estilos para tarea consumo de API */
  tbody tr:nth-child(even) {
    background-color: #03C988;
    }
  
  tbody tr:nth-child(odd) {
    background-color:#97DEFF;
    }