.datos__charts{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    table, h1{
        margin: 10px 0px;
    }

    .datos__charts--data{
      display: flex;
      flex-direction: row;
    }

    table, th, td {
        border: 1px solid gray;
        border-collapse: collapse;
      }

      th {
        background-color: #146C94;
        color: white;
        font-weight: bold;
        padding: 5px;
        font-size: 16px;
      }
      
      td {
        text-align: center;
        font-size: 14px;
        padding: 5px;
      }

       /* Estilos para tarea consumo de API */
  tbody tr:nth-child(even) {
    background-color: #00a970;
    }
  
  tbody tr:nth-child(odd) {
    background-color:#83c7e7;
    }
}
