//Colors
$headerColor: #212529;
$textColor: white;
$logoColor: #198754;
$mainColor: #1450A3;
$shadowColor: rgba(0, 0, 0, 0.65);
$cardColor: hsla(191, 9%, 34%, 0.5);
$cardShadowColor: 0 4px 8px 0 rgba(0, 0, 0, 0.35),
0 6px 20px 0 rgba(0, 0, 0, 0.25);