//Colors//
$mainColor: #1450A3;
$mainTxtColor: white;

main {
    height: 100vh;
    background-color: $mainColor;
    color: $mainTxtColor;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}