// //Colors//
// $mainColor: #1450A3;
// $mainTxtColor: white;

// main {
//     height: 100vh;
//     background-color: $mainColor;
//     color: $mainTxtColor;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: center;
//     h1{
//         margin: 10px 0px;
//     }
// }

.taller-grid {
    display: grid;
    width: 100%;
    height: inherit;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

.taller-card{
    width: 500px;
    height: 210px;
    border: 1px solid white;
    background-color: gray;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    figure{
        width: 150px;
        height: inherit;
        border: 1px solid white;
        text-align: center;
    }
}

.taller-card__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}