//Colors//
$footerColor: #212529;
$footerTxtColor: white;

footer {
  height: 80px;
  background-color: $footerColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  span{
    color: $footerTxtColor;
  }
}