//Colors//
$mainColor: #1450A3;
$mainTxtColor: white;

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

main {
    height: 100vh;
    background-color: $mainColor;
    color: $mainTxtColor;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h1{
        margin: 10px 0px;
    }
}

.cuadrado {
    display: flex;
    flex-direction: column;
    width: auto;
    // height: 80px;
    border-radius: 10px;
    border: 1px solid white;
    justify-content: space-evenly;
    padding: 15px;
}

label {
    font-weight: bold;
  }
  
  input {
    margin: 8px 0px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    padding: 8px;
  }

  input:focus{
    outline: none;
    border-color: black;
  }

  .btn-fig{
    background: none;
    border: none;
    background-color: #008CBA;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.5s;
}

.btn-fig:hover{
    background-color: #1e00a1;
}

.btn-fig:disabled{
    background-color: gray;
}

.chart{
background-color: white;
width: 500px;
margin: 10px 0px;
h3{
    color: black;
}
}